<% provide(:title, "Events") %>

<h1>Events</h1>

<% @events.each do |event| %>

  <h2><%= link_to event.title, event %></h2>
  <h4><%= event.when %></h4>

  <% if user_signed_in? %>
    <ul>
      <li><%= link_to 'Edit', edit_event_path(event) %></li>
      <li><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New Event', new_event_path %>
<% end %>